/HTML_CSS_JS_projects/Node and Express js projects/node_modules/

/HTML_CSS_JS_projects/Node and Express js projects/mycontacts-backend/node_modules

/HTML_CSS_JS_projects/React_Js_Projects/first-react-app/